body {
  font-family: sans-serif;
}

.header {
  background: #f0f0f0;
  border: 1px solid #e7e6e6;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
}

.nav-links > ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-links > ul > li {
  margin-left: 60px;
  list-style: none;
}

.login-btn {
  margin-left: 40px;
  padding: 5px;
  width: 90px;
  font-size: 20px;
  border-radius: 7px;
  cursor: pointer;
}

.container-title {
  margin: 0px 10px;
}

.res-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.res-card {
  all: unset;
  border: 1px solid #d5d0d0;
  width: 300px;
  background-color: #f0f0f0;
  padding: 5px;
  margin: 10px;
  font-family: 'Times New Roman', Times, serif;
  border-radius: 38px;
  cursor: pointer;
}

.res-card:hover {
  border: 1px solid black;
}

.res-card > img {
  width: inherit;
  border-radius: 10%;
}

.filters {
  margin: 10px auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter-btn {
  cursor: pointer;
}

/* SHIMMER */
.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.shimmer-util-container {
  display: flex;
  margin: 20px 5px;
  justify-content: space-between;
}

.shimmer-card {
  width: 300px;
  height: 500px;
  padding: 5px;
  margin: 10px;
  background-image: linear-gradient(to right, #f0f0f0, #d7d7d7);
  border: 1px solid #bdbdbd;
}

.btn-shimmer {
  background-image: linear-gradient(to right, #f0f0f0, #d7d7d7);
  width: 150px;
  border: 1px solid #bdbdbd;
  height: 25px;
}

.shimmer-search {
  background-image: linear-gradient(to right, #f0f0f0, #d7d7d7);
  width: 300px;
  border: 1px solid #bdbdbd;
  height: 25px;
}

/* Menu Page */
.menu-container {
  margin: 40px 150px 0 150px;
}

.res-detail {
  border: 1px solid #ded8d8;
  justify-content: space-between;
  align-items: center;
  display: flex;
  background-color: #f0f0f0;
  padding: 15px;
}

.res-detail > div > h1 {
  margin: 0 auto;
}

.res-detail > div > p {
  margin-top: 0px;
}

.res-detail > div > img {
  width: 160px;
}

.user-card {
  border: 1px solid #ded8d8;
  padding: 10px;
  margin-bottom: 15px;
}
